<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editprodForm">
                    {% csrf_token %}
                    <input type="hidden" id="editprodId">
                    
                    <div class="mb-3">
                        <label for="editprodName" class="form-label">Nombre del Producto</label>
                        <input type="text" class="form-control" id="editprodName" required>
                    </div>
        
                    <div class="mb-3">
                        <label for="editTipoCriticidad" class="form-label">Tipo de Criticidad</label>
                        <select id="editTipoCriticidad" class="form-select" required
                            onchange="loadEditCriticidadesByTipo()">
                            <option value="">Seleccione el tipo de criticidad</option>
                        </select>
                    </div>
        
                    <div class="mb-3">
                        <label for="editCriticidad" class="form-label">Criticidad</label>
                        <select id="editCriticidad" class="form-select" required>
                            <option value="">Seleccione una criticidad</option>
                        </select>
                    </div>
        
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>