<!-- Modal para editar tecnología -->
<div class="modal fade" id="editTecnologiaModal" tabindex="-1" aria-labelledby="editTecnologiaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTecnologiaModalLabel">Editar Tecnología</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editTecnologiaForm">
                    <input type="hidden" id="editTecnologiaId" name="id">
                    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="editName" class="form-label">Nombre de la Tecnología</label>
                            <input type="text" class="form-control" id="editName" name="name" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="editTipoEquipoDropdown" class="form-label">Tipo de Equipo</label>
                            <select id="editTipoEquipoDropdown" class="form-select" required>
                                <option value="">Seleccione un tipo de equipo</option>
                            </select>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="editProductoDropdown" class="form-label">Producto</label>
                            <select id="editProductoDropdown" class="form-select" disabled required>
                                <option value="">Seleccione un producto</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="editTipoCriticidadDropdown" class="form-label">Tipo de Criticidad</label>
                            <select id="editTipoCriticidadDropdown" class="form-select" disabled required>
                                <option value="">Seleccione un tipo de criticidad</option>
                            </select>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="editCriticidadDropdown" class="form-label">Criticidad</label>
                            <select id="editCriticidadDropdown" class="form-select" disabled required>
                                <option value="">Seleccione una criticidad</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveTecnologiaBtn">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
