{% extends "base.html" %}
{% load static %} 

{% block title %}Calc2 - GISME{% endblock %}

{% block content %}
    <h2>Calcular Incertidumbre y mostrar histograma</h2>
    
    <form id="incertidumbreForm">  <!-- 🔹 Asegurar que este ID coincida con script.js -->
        {% csrf_token %}
        <input type="number" id="densidad_medida" placeholder="Densidad Medida" required>
        <input type="number" id="u_cal" placeholder="u_cal" required>
        <input type="number" id="u_res" placeholder="u_res" required>
        <input type="number" id="u_der" placeholder="u_der" required>
        <button type="submit">Calcular Incertidumbre</button>
    </form>
    
<!-- 🔹 Contenedor donde se mostrarán los resultados -->
<div id="resultado_incertidumbre"></div>

    <!-- Lienzo donde se dibujará el histograma -->
    <div id="chartContainer">
        <canvas id="histogramaChart"></canvas>
    </div>



{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '_AppCalc2/styles.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static '_AppCalc2/script.js' %}?v={{ timestamp }}"></script>

{% endblock %}